
<html>
<head>

</head>

<body>
<button onclick="onButtonClicked()">test</button>
<h2 id="boom">0</h2>
</body>
<script src="/webjars/axios/0.20.0/dist/axios.min.js"></script>
<script>
    function onButtonClicked() {
        axios({
            method: 'get', //통신 방식
            url: '/test', //통신할 페이지
            data: {} //인자로 보낼 데이터
        })
            .then(response => {
                document.getElementById('boom').innerText=response.data.data;
                console.log(response);
            })
            .catch(error => {
                document.getElementById('boom').innerText='error';
                console.log(error);
            })
    }
</script>
</html>